body {
  font-family: sans-serif;
  text-align: center;
}

.categories-container button {
  border-radius: 50%;
  border: black solid 0.1em;
  height: 2.5em;
  width: 2.5em;
  margin: auto 0.5em 2em 0.5em;
}

.flashcard-container {
  border: 0.3em solid black;
  width: 20em;
  height: 8em;
  margin: 0 auto 2em auto;
}

.flashcard-word {
  font-size: 2em;
  font-weight: 600;
}

.phonetic {
  font-style: italic;
}

.action-button {
  width: 6em;
}
