body {
  font-family: sans-serif;
  text-align: center;
  width: 25em;
  height: 100vh;
  margin: 0 auto;
  border-left: #319fc3 2px solid;
  border-right: #319fc3 2px solid;
}
.bakground {
  background: #c0efff;
  height: 100vh;
}
header {
  background-color: #319fc3;
  border-radius: 0 0 100% 100%;
}

h1 {
  margin: 0;
  padding-block-start: 1em;
  padding-block-end: 1em;
}

.categories-container button {
  border-radius: 50%;
  border: none;
  height: 2.5em;
  width: 2.5em;
  margin: auto 0.5em 2.5em 0.5em;
}

.flashcard-container {
  background-color: #3c3cac;
  border-radius: 20px;
  width: 18em;
  height: 50vh;
  margin: 1em auto 2em auto;
}

.flashcard-word {
  font-size: 2.5em;
  font-weight: 600;
  color: bisque;
}

.phonetic {
  font-style: italic;
  opacity: 80%;
}

.action-button {
  width: 6em;
  background: #008e81;
  border: 2px #c0efff solid;
  padding: 0.5em;
  border-radius: 20px;
  font-weight: bolder;
}

button:hover {
  cursor: pointer;
  border: 2px solid crimson;
}

.flag {
  position: relative;
  right: 6em;
  width: 3em;
  height: 2em;
  border-radius: 5px;
  margin-top: 1em;
}
